.App {
  text-align: center;
}
.container {
  text-align: center;

  display: flex;
  flex-flow: row wrap;
  width: 850px;

  justify-content: space-around;
  margin-left: 15%;
}

.card {
  width: 250px;
  height: 425px;
  border: 1px solid #636c75;
  margin: 5% 0;
}
.card-img {
  height: 150px;
  width: 100%;
}
